:root {
    --cor-fundo: #cde8e7 ;
    --cor-fundo-pastel: #c7e9da;

    --cor-padrao: #58af9b;
    --cor-escuro: #cde8e7;
    
    --cor-escuro-footer: #5b9279;
    
    --branco:#fff ;
}

* {
    overflow-x: hidden;
}

body h5 {
    overflow: hidden ;
}
 
/*----  Sidebar ----*/

aside {
    height: 100vh;
    width: 15%;
    background-color: var(--cor-padrao);
    color: var(--branco);
    position: fixed;
    top: 0;

    
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 100px ;

}

.sidebar a {
    color: var(--branco);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid var(--cor-escuro);
}

.sidebar a:hover {
    text-decoration: none;
    background-color: var(--cor-escuro);
    color: var(--branco);
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: center;

}

.vet-sidebar {
    background-color: #272727;
}

/*----  Conteudo ----*/

.main {
    display: flex;
    color: black;
    margin-left: 20%;
    margin-top: 100px;
}

.main-content {
    width: 100%;
    font-size: 1rem;
}

.main-content a {
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: none;
}

.main .card {
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
}

.main ul li {
    display: flex;
    justify-content: space-between;
}

.tag-lista {
    width: 150px;
}

.user-img {
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/*----  Butão Add Pet   ----*/

.btn-add{
    background-color: var(--cor-padrao);
    height: 6rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    
}

.btn-add:hover{
    background-color: var(--cor-escuro);
}

.btn-add p {
    color: var(--branco);
    text-decoration: none;
}

.btn-circulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--branco);
    background-color: rgb(221, 221, 2);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}

/*----  Painel de Gerenciamento de Pet  ----*/

.painel-pet{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem;
    padding: 1rem;
    width: 90%;
}

.painel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--cor-letra);
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.painel-btn:hover {
    color: var(--cor-letra);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.painel-pad{

}

/*--    --*/