/* fonte  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(202, 202, 202);
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content-footer {
    color: #fff;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}


/* titulos */

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #58af9b;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}


/* Botões */

.side-bar button {
    margin: 0 auto 14px auto;
    justify-content: center;
    display: block;
}

.campo-button {
    margin-top: 50px;
    margin-bottom: 145px;
    justify-content: center;
    display: block;
}

.input-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    padding: 13px 50px;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;
    font-size: 15px;
    transition: background-color .5s;
}

.input-button:hover {
    background-color: #fff;
    color: #4ab4b1;
    border: 1px solid #4ab4b1;
    /* transform: scale(1.05); */
    transition: background-color .5s;
}

.input-button:active {
    transform: scale(0.95);
    background-color: transparent;
    color: #4ab4b1;
}

.input-button2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #4ab4b1;
    background-color: transparent;
    color: #4ab4b1;
    font-size: 15px;
    padding: 13px 50px;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;
    font-size: 15px;
    transition: background-color .5s;
}

.input-button2:hover {
    background-color: #d1fcf2;
    color: #4ab4b1;
    border: 1px solid #4ab4b1;
    /* transform: scale(1.05); */
    transition: background-color .5s;
}

.input-button2:active {
    transform: scale(0.95);
    background-color: transparent;
    color: #4ab4b1;
}


/* Colunas */

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Formulário de Cadastro */

.form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}


/* Icones  */

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #58af9b;
    padding: 0 5px;
}


/* imagem */

.img {
    width: 10%;
    justify-content: center;
}


/* rodape */

.rodape {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #c7e9da;
    /* Cor de fundo pastel verde */
    padding: 20px 0;
}

footer p {
    color: #5b9279;
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #5b9279;
    text-decoration: none;
    font-size: 14px;
}