:root {
    --cor-fundo: #cde8e7 ;
    --cor-fundo-pastel: #c7e9da;

    --cor-padrao: #04b4ae;
    --cor-escuro: #007470;
    
    --cor-escuro-footer: #5b9279;
    
    --branco:#fff ;
}

body h5 {
    overflow: hidden ;
}
 
/*----  Sidebar ----*/

aside {
    height: 100vh;
    width: 15%;
    background-color: var(--cor-padrao);
    color: var(--branco);
    position: fixed;

    
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 100px ;

}

.sidebar a {
    color: var(--branco);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid var(--cor-escuro);
}

.sidebar a:hover {
    text-decoration: none;
    background-color: var(--cor-escuro);
    color: var(--branco);
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: center;

}

/*----  Conteudo ----*/

.main {
    display: flex;
    color: black;
    margin-left: 20%;
    margin-top: 100px;
}

.main-content {
    width: 100%;
}

.main .card {
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
}

.main ul li {
    display: flex;
    justify-content: space-between;
}

.tag-lista {
    width: 150px;
}

.user-img {
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}